<h1>Password Generator</h1>
<div>
  <label>Password Length</label>
  <input />
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="onUseNumbersChange()" />
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="onUseLettersChange()" />
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox" (change)="onUseSymbolsChange()"/>
</div>

<div>
  <!-- Event Binding Syntax An event we want to listen to -->
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <!-- Property Binding Syntax Value Property is set to an Expression. -->
  <label>Your Password</label>
  <input [value]="getPassword()" />
</div>

<!-- Printing the value of a property/variable [String Interpolation] -->
<!-- {{password}} -->
